@using Player;
@page "/newitem"
<div style="display: grid;">
    <span style="font-size: xx-large;justify-self:center">New Item</span><br />
    <input type="text" placeholder="Name" style="justify-self:center;">
    <textarea placeholder="Description" style="margin-top:20px"></textarea>
    <textarea style="font-size: x-large; height: 200px;margin-top: 20px;" width="100%" @bind="@Text"
        placeholder="Your code here">
  </textarea>
    <input type="button" style="font-size: x-large;margin-top:20px" value="Create New Item" class="btn btn-success"
        @onclick="OnClickBtnMethod" />
</div>
@code {
    public string Text;
    public void OnClickBtnMethod()
    {
        System.Console.WriteLine(Text);

        var options = ScriptOptions.Default.AddReferences(typeof(SimplePlayer).Assembly).AddImports("Player");
        @* System.Console.WriteLine(typeof(SimplePlayer).AssemblyQualifiedName); *@

        var t = CSharpScript.EvaluateAsync<Func<SimplePlayer, SimplePlayer, bool>>(Text, options);
        t.Wait();

        SimpleDeck deck = new SimpleDeck(GameController.Cards, 1, 50);
        AIPlayer p1 = new AIPlayer(4000, 5, 5, deck);
        AIPlayer p2 = new AIPlayer(4000, 5, 5, deck);
        p1.SetEnemy(p2);
        p2.SetEnemy(p1);
        System.Console.WriteLine(t.Result.Invoke(p1, p2));

        @* t.Wait(); *@
        @* System.Console.WriteLine(t.Result); *@

    }
}
