@page "/newitem"
@inject IJSRuntime Js

<div style="display: grid;">
    <div class="alert alert-danger d-none" role="alert"></div>
    <div class="alert alert-success d-none" role="alert"></div>

    <span style="font-size: xx-large;justify-self:center">New Item</span><br/>

    <input type="text" placeholder="Item Name" style="justify-self:center;" @bind="@_itemName">

    <textarea placeholder="Description" style="margin-top:20px" @bind="@_itemDescription"></textarea>

    <pre>
		<code style="width: 100%;">
			<textarea style="margin-top:20px;font-size: x-large; height: 100px;width:100%" @bind="@_codeString"
			placeholder="Code of the Effect"></textarea>
		</code>
	</pre>

    <input type="button" style="font-size: x-large;margin-top:20px" value="Create New Item" class="btn btn-success"
           @onclick="OnClickBtnMethod"/>
</div>

@code {
    private string? _codeString;

    private string? _itemName;

    private string? _itemDescription;

    private async void OnClickBtnMethod()
    {
        try
        {
            GameController.CreateItemCard(_itemName, _itemDescription, _codeString);
            _codeString = "";
            _itemName = "";
            _itemDescription = "";
            await Js.InvokeVoidAsync("ShowSuccess", "Item added successfully");
        }
        catch (Exception err)
        {
            if (err is CompilationErrorException || err is ArgumentNullException)
            {
                await Js.InvokeVoidAsync("ShowError", err.Message);
            }
            else
            {
                Console.WriteLine(err);
            }
        }
    }

}