@page "/newitem"
@inject IJSRuntime JS

<div style="display: grid;">
	<div class="error-div"></div>
	<span style="font-size: xx-large;justify-self:center">New Item</span><br />

	<input type="text" placeholder="Item Name" style="justify-self:center;" @bind="@ItemName">

	<textarea placeholder="Description" style="margin-top:20px" @bind="@ItemDescription"></textarea>

	<pre>
		<code style="width: 100%;">
			<textarea style="margin-top:20px;font-size: x-large; height: 100px;width:100%;" @bind="@ConditionCode"
			placeholder="Code of the condition"></textarea>
		</code>
	</pre>

	<pre>
		<code style="width: 100%;">
			<textarea style="margin-top:20px;font-size: x-large; height: 100px;width:100%" @bind="@ActionCode"
			placeholder="Code of the action"></textarea>
		</code>
	</pre>

	<input type="button" style="font-size: x-large;margin-top:20px" value="Create New Item" class="btn btn-success"
		@onclick="OnClickBtnMethod" />
</div>
@code {
	public string? ConditionCode;

	public string? ActionCode;

	public string? ItemName;

	public string? ItemDescription;
	public async void OnClickBtnMethod()
	{
		try
		{
			Game.GameController.CreateItemCard(ItemName, ItemDescription, ConditionCode, ActionCode);
		}
		catch (System.Exception err)
		{
			if (err is CompilationErrorException || err is ArgumentNullException)
			{
				await JS.InvokeVoidAsync("ShowError", err.Message);
			}
			else
			{
				throw err;
			}
		}
	}
}
