@using Microsoft.AspNetCore.Components.Web
@namespace WebServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="WebServer.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
<script>
    'use strict';
    function ShowError(message) {

        const alert = document.querySelector(".alert-danger");

        window.scrollTo(0, 0);
        alert.classList.remove("d-none");

        alert.textContent = message;

        setTimeout(() => {
            alert.classList.add("d-none");
        }, 2500);
    }

    function ShowSuccess(message) {

        const alert = document.querySelector(".alert-success");

        window.scrollTo(0, 0);
        alert.classList.remove("d-none");

        alert.textContent = message;

        setTimeout(() => {
            alert.classList.add("d-none");
        }, 2500);
    }


    function HideConfig() {
        const conf = document.querySelector("#config");
        conf.classList.add("d-none");

        const newPlayer = document.querySelector("#new-player");
        newPlayer.classList.remove("d-none");
    }

    function ShowConfig() {
        const conf = document.querySelector("#config");
        conf.classList.remove("d-none");

        const newPlayer = document.querySelector("#new-player");
        newPlayer.classList.add("d-none");
    }

    function HideAll() {
        const body = document.querySelector("body");
        body.classList.add("d-none");
    }

</script>

</html>
