@page "/"

<PageTitle>Index</PageTitle>
<style>
    input {
        display: inline-block;
    }
</style>
<div class="row justify-content-evenly">
    <div class="col cuadro">1
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">2
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">3
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">4
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">5
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">Deck</div>
</div>
<div class="row justify-content-center">
    <div class="col-3 cuadro">1
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">2
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">3
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">4
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">5
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>

</div>

<div class="row justify-content-center">
    <div class="col-3 cuadro">1
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">2
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">3
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">4
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col-3 cuadro">5
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
</div>

<div class="row justify-content-evenly">
    <div class="col cuadro">1
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">2
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">3
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">4
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">5
        <img class="bg-img" src="../img/back.webp" alt="">
    </div>
    <div class="col cuadro">Deck</div>
</div>